src/library.csv
resources/csv/*.csv
!src/csv
memo/
practice/
.idea/
library-management.iml
out/
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
# build
